<div class="row section-category-frame @SpecialClasses">
    <div class="col-auto section-line" />
    <div class="col">
        <div class="row section-title @(IsChanged ? "updated" : string.Empty)" @onclick="@ToggleCollapse">
            <div class="col-auto d-flex align-items-center">
                <i class="fas @(IsCollapsed ? "fa-chevron-down" : "fa-chevron-up")"></i>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h6>@Title</h6>
                    </div>
                </div>
            </div>
        </div>
        @if (!IsCollapsed)
        {
            <div class="row section-items-dropdown">
                @ChildContent
            </div>
        }
    </div>
</div>
<hr />

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string SpecialClasses { get; set; } = string.Empty;

    [Parameter]
    public bool IsChanged { get; set; }

    [Parameter]
    public bool IsCollapsed { get; set; }

    private void ToggleCollapse()
    {
        IsCollapsed = !IsCollapsed;
        StateHasChanged();
    }
}
