<div class="col">
    @if (Card.Patches.Count() >= 2)
    {
        @foreach (RoadmapCardChangelog changelog in Card.Patches)
        {
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <small class="title">@("Patch: " + Card.MajorVersion + "." + Card.MinorVersion + "." + changelog.PatchVersion)</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <small>Version String</small>
                        </div>
                        <div class="col">
                            <small>@(changelog.VersionString != null ? changelog.VersionString : "Unknown")</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <small>PU Release</small>
                        </div>
                        <div class="col">
                            <small>@(changelog.PUReleaseDate != null ? changelog.PUReleaseDate?.ToShortDateString() : "Unknown")</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <small>PTU Release</small>
                        </div>
                        <div class="col">
                            <small>@(changelog.PTUTestingStartDate != null ? changelog.PTUTestingStartDate?.ToShortDateString() : "Unknown")</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <small>Evocati Release</small>
                        </div>
                        <div class="col">
                            <small>@(changelog.EvocatiTestingDate != null ? changelog.EvocatiTestingDate?.ToShortDateString() : "Unknown")</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <small>Changelog</small>
                        </div>
                        <div class="col">
                            <small><a href="@changelog.SpectrumPatchNotes" target="_blank">Spectrum Link</a></small>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col">
                <small>There have been no patches for this version.</small>
            </div>
        </div>
    }
</div>

@code {

    [Parameter]
    public RoadmapCard Card { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

}
