<div class="row content">
    <div class="col">
        @foreach (string c in Entry.Content)
        {
            if (c.StartsWith("https://"))
            {
                if (c.EndsWith(".webp") || c.EndsWith(".gif") || c.EndsWith(".png") || c.EndsWith("jpg"))
                {
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <img src="@c" draggable="false" alt="Blog Image" />
                        </div>
                    </div>
                }
                else
                {
                    <a href="@c" target="_blank" draggable="false">@c</a>
                }
            }
            else
            {
                <p>
                    @foreach (string f in c.Split(" "))
                    {
                        @if (f.StartsWith("https://"))
                        {
                            <a href="@f" target="_blank" draggable="false">@f</a> @(" ")
                        }
                        else
                        {
                            @(f + " ")
                        }
                    }
                </p>
            }
        }
    </div>
</div>

@code {

    [Parameter]
    public BlogEntryData Entry { get; set; }
}
