<div class="col-auto media-photo-container">
    <div class="row">
        <div class="col header">
            <h6>@Photo.Title</h6>
            <small>@Photo.TakenDate.ToShortDateString() - @Photo.TakenGameVersion</small>
        </div>
    </div>
    <div class="row">
        <div class="col align-items-stretch justify-content-center">
            <img src="@("https://raw.githubusercontent.com/Star-Athenaeum/Data-Vault/master/photography-elements/" + Photo.Thumbnail)" draggable="false" alt="Photo" crossorigin="anonymous" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <select @onchange="@((ChangeEventArgs e) => { ResolutionOption = e.Value.ToString(); })" title="Choose a resolution that suites you!">
                @foreach (string s in Photo.Resolutions)
                {
                    <option>@(s.Substring(s.LastIndexOf('_') + 1, s.LastIndexOf('.') - s.LastIndexOf('_') - 1))</option>
                }
            </select>
        </div>
        <div class="col-auto">
            <form method="get" action="@("https://raw.githubusercontent.com/Star-Athenaeum/Data-Vault/master/photography-elements/" + Photo.Resolutions.Find(o => o.Contains(ResolutionOption)))">
                <button type="submit" title="Download"><i class="fas fa-arrow-down"></i></button>
            </form>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public MediaPhoto Photo { get; set; }

    public string ResolutionOption { get; set; }

    protected override Task OnInitializedAsync()
    {
        ResolutionOption = Photo.Resolutions[0];
        return base.OnInitializedAsync();
    }
}
